{# Resources/views/Document/open.html.twig #}
{% extends "@EDM/layout.html.twig" %}
{% block edmContent %}
    <div class="row clearfix" style="margin:4px 0 24px 0;">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
                {{ bootstrapButtonDefault({"title": "label.home"|trans({}, "EDMBundle"), "icon": "home"})|bootstrapButtonLink(path("edm_directory_open")) }}
                {% for path in directory.paths|default([]) %}
                    {{ bootstrapButtonDefault({"title": "label.open"|trans({}, "EDMBundle"), "icon": "folder-" ~ (loop.last ? "open" : "close"), "content": path.filename})|bootstrapButtonLink(path("edm_directory_open", {"id": path.id})) }}
                {% endfor %}
            </div>
            <div class="btn-group pull-right" role="group">
                {% if (directory is not null) %}
                    {{ bootstrapButtonDefault({"title": "label.close"|trans({}, "EDMBundle"), "icon": "arrow-up"})|bootstrapButtonLink(path("edm_directory_open", {"id": directory.parent.id|default(null)})) }}
                {% endif %}
                {{ bootstrapButtonDefault({"title": "label.new"|trans({}, "EDMBundle"), "icon": "plus"})|bootstrapButtonLink(path("edm_directory_new", {"id": directory.id|default(null)})) }}
                {{ bootstrapButtonDefault({"title": "label.upload"|trans({}, "EDMBundle"), "icon": "open"})|bootstrapButtonLink(path("edm_document_upload", {"id": directory.id|default(null)})) }}
                {{ bootstrapButtonDefault({"title": "label.dropzone"|trans({}, "EDMBundle"), "icon": "hand-up"})|bootstrapButtonLink(path("edm_dropzone_upload", {"id": directory.id|default(null)})) }}
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="{{ bootstrapGrid({"lg": 12, "md": 12, "sm": 12, "xs": 12}) }}">
            <div class="panel panel-default">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="col-lg-1" scope="row">{{ "label.id"|trans({}, "EDMBundle") }}</th>
                            <th>{{ "label.name"|trans({}, "EDMBundle") }}</th>
                            <th class="col-lg-1">{{ "label.size"|trans({}, "EDMBundle") }}</th>
                            <th class="col-lg-2">{{ "label.modified"|trans({}, "EDMBundle") }}</th>
                            <th class="col-lg-2">{{ "label.actions"|trans({}, "EDMBundle") }}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>{{ "label.id"|trans({}, "EDMBundle") }}</th>
                            <th>{{ "label.name"|trans({}, "EDMBundle") }}</th>
                            <th>{{ "label.size"|trans({}, "EDMBundle") }}</th>
                            <th>{{ "label.modified"|trans({}, "EDMBundle") }}</th>
                            <th>{{ "label.actions"|trans({}, "EDMBundle") }}
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for document in documents %}
                            {% set route_prefix = document.isDirectory() ? "edm_directory" : "edm_document" %}
                            <tr>
                                <th scope="row">{{ document.id }}</th>
                                <td>{{ edmLink(document) }}</td>
                                <td class="text-right">{{ edmSize(document) }}</td>
                                <td class="text-right">{{ document.updatedAt|default(document.createdAt)|date }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        {{ bootstrapButtonDefault({"title": "label.edit"|trans({}, "EDMBundle"), "icon": "pencil"})|bootstrapButtonLink(path(route_prefix ~ "_edit", {"id": document.id})) }}
                                        {{ bootstrapButtonDanger({"title": "label.delete"|trans({}, "EDMBundle"), "icon": "trash"})|bootstrapButtonLink(path(route_prefix ~ "_delete", {"id": document.id})) }}
                                        {{ bootstrapButtonWarning({"title": "label.move_to"|trans({}, "EDMBundle"), "icon": "move"})|bootstrapButtonLink(path(route_prefix ~ "_move", {"id": document.id})) }}
                                        {{ bootstrapButtonSuccess({"title": "label.download"|trans({}, "EDMBundle"), "icon": "save"})|bootstrapButtonLink(path(route_prefix ~ "_download", {"id": document.id})) }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
