{# Resources/views/Directory/index.html.twig #}
{% extends '@EDM/layout.html.twig' %}
{% block EDM_Content %}
	<h1>{{ 'DirectoryController.indexAction.title'|trans({}, 'EDMBundle') }}</h1>
	<table >
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th><a href="{{ path('edm_directory_new') }}">{{ 'label.new'|trans({}, 'EDMBundle') }}</a></th>
			</tr>
			<tr>
				<th scope="row">{{ 'label.id'|trans({}, 'EDMBundle') }}</th>
				<th>{{ 'label.name'|trans({}, 'EDMBundle') }}</th>
				<th>{{ 'label.actions'|trans({}, 'EDMBundle') }}</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>{{ 'label.id'|trans({}, 'EDMBundle') }}</th>
				<th>{{ 'label.name'|trans({}, 'EDMBundle') }}</th>
				<th>{{ 'label.actions'|trans({}, 'EDMBundle') }}</th>
			</tr>
		</tfoot>
		<tbody>
			{% for directory in directories %}
				<tr>
					<th scope="row">{{ directory.id }}</th>
					<td>{{ directory.name }}</td>
					<td>
						<a href="{{ path('edm_directory_new', {'id': directory.id}) }}">{{ 'label.new'|trans({}, 'EDMBundle') }}</a>
						<a href="{{ path('edm_directory_edit', {'id': directory.id}) }}">{{ 'label.edit'|trans({}, 'EDMBundle') }}</a>
						<a href="{{ path('edm_directory_delete', {'id': directory.id}) }}">{{ 'label.delete'|trans({}, 'EDMBundle') }}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
